<template id="flash-message">
  <style>
    div {
      font-weight: 600;
      text-align: center;
      background-color: var(--secondary);
      position: fixed;
      width: 100%;
      padding: 4px;
      margin-top: 60px;
      z-index: 1;
      color: var(--stroke);
      border-bottom: 3px solid var(--stroke1);
    }
  </style>
  <div id="message"></div>
</template>
