:root {
  --white:#fffffe;
  --gray:#eff0f3;
  --main:#f3d2c1;
  --highlight:#fef6e4;
  --stroke:#001858;
  --stroke1:#172c66;
  --secondary:#8bd3dd;
  --tertiary:#f582ae;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection, ::-moz-selection { /* Code for Firefox */
  background: var(--tertiary);
}
body {
  font-size:16px;
  font-family:monospace, sans-serif, Verdana;
  font-weight:400;
  line-height:1.3;
  color:var(--stroke);
  background-color:var(--highlight);
  position:relative;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main);
  height: 60px;
  width: 100%;
  z-index: 1;
  align-items: center;
  border-bottom: 3px solid var(--stroke1)
}
main {
  padding-top: 90px;
  background-color: var(--turquoise-light);
}
a {
  color: var(--stroke);
}
select {
	border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 0px var(--stroke);
  border: 1px solid var(--stroke);
  color: var(--stroke);
  padding: 10px;
  cursor: pointer;
  background-color: var(--highlight);
}
.posts {
  max-width:700px;
  margin: 0 auto;
  padding-top: 10px;
}
.button {
  background-color: var(--secondary);
  color: var(--stroke1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor:pointer;
  box-shadow: 2px 2px 0px var(--stroke);
  border: 1px solid var(--stroke);
}
.footer {
  display:flex;
  justify-content:center;
}
.post {
  display: flex;
  margin-bottom: 4rem;
  position:relative;
  background-color: var(--white);
  border: 1px solid var(--white);
  min-height: 100px;
  border: 3px solid var(--stroke);
  border-radius: 4px;
  box-shadow: 2px 2px 0 0 #031926;
}
.post__content {
  display: flex;

  padding: 5px;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.post__imagewrapper {
  margin-right: 0.5rem;
  background-color: var(--secondary);
  border-right: 3px solid var(--stroke);
}
.post__image {
  width: 200px;
  height:100%;
}
.post__title {
  color:var(--stroke);
  font-size: 1.2rem;
  font-weight: bold;
}
.post__tools {
  display: flex;
  gap: 10px;
}
.post__tools-item {
}
.post__info {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.post__meta {
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.9;
}
.post__description {
  margin-top: 5px;
  font-size: 0.8rem;
}
.post_starred {
  padding-left: 15px;
}
.post__content_blured {
  opacity: 0.8;
  filter: blur(0.4rem);
  cursor: auto;
}
.post__content_viewed {
  opacity: 0.8;
}
.post__content:hover .tool {
  visibility: visible;
}
.tool {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  visibility: hidden;
}
.tool__bookmark {
  width: 16px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path fill="rgb(0, 24, 88)" d="M0 48C0 21.5 21.5 0 48 0l0 48V441.4l130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4V48H48V0H336c26.5 0 48 21.5 48 48V488c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488V48z"/></svg>');
}
.tool__pocket {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">><path fill="rgb(0, 24, 88)" d="M407.6 64h-367C18.5 64 0 82.5 0 104.6v135.2C0 364.5 99.7 464 224.2 464c124 0 223.8-99.5 223.8-224.2V104.6c0-22.4-17.7-40.6-40.4-40.6zm-162 268.5c-12.4 11.8-31.4 11.1-42.4 0C89.5 223.6 88.3 227.4 88.3 209.3c0-16.9 13.8-30.7 30.7-30.7 17 0 16.1 3.8 105.2 89.3 90.6-86.9 88.6-89.3 105.5-89.3 16.9 0 30.7 13.8 30.7 30.7 0 17.8-2.9 15.7-114.8 123.2z"/></svg>');
}
.tool__star {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path fill="rgb(0, 24, 88)" d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/></svg>');
}
.tool__clipboard {
  width: 16px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path fill="rgb(0, 24, 88)" d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>');
}
.tool__link {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><path fill="rgb(0, 24, 88)" d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>');
}
.tool__star.active {
  visibility: visible;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path fill="rgb(255,215,0)" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>');
}
.tool__pocket.active {
  visibility: visible;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">><path fill="rgb(239, 64, 86)" d="M407.6 64h-367C18.5 64 0 82.5 0 104.6v135.2C0 364.5 99.7 464 224.2 464c124 0 223.8-99.5 223.8-224.2V104.6c0-22.4-17.7-40.6-40.4-40.6zm-162 268.5c-12.4 11.8-31.4 11.1-42.4 0C89.5 223.6 88.3 227.4 88.3 209.3c0-16.9 13.8-30.7 30.7-30.7 17 0 16.1 3.8 105.2 89.3 90.6-86.9 88.6-89.3 105.5-89.3 16.9 0 30.7 13.8 30.7 30.7 0 17.8-2.9 15.7-114.8 123.2z"/></svg>');
}
.tool__bookmark.active {
  visibility: visible;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path fill="rgb(245, 130, 174)" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>');
}
.page-end {
  display: flex;
  justify-content:space-evenly;
  padding-bottom: 10px;
}
