<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiny RSS</title>
    <link rel=icon href="data:,">
    <link rel="stylesheet" href="posts/component/index.css">
    <script type="module">
      import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </head>
  <body>
    <header>
      <a href="/" data-turbo="false">&larr; Back</a>
      <span>Rest: <strong id="rest-counter"><%= @posts_rest %></strong></span>
    </header>
    <main>
      <section class="posts" id="posts">
        <%= erb(:'/posts/component/_posts', layout: false) %>
      </section>
    </main>
    <template id="clipboard">
      <slot></slot>
    </template>
    <template id="flash-message">
      <style>
        div {
          text-align: center;
          background-color: var(--orange);
          color: var(--blank-strong);
          position: fixed;
          width: 100%;
          padding: 4px;
          margin-top: 60px;
          z-index: 1;
          color: var(--white);
        }
      </style>
      <div id="message"></div>
    </template>
    <script src="posts/component/index.js" async></script>
  </body>
</html>
